<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
  </head>

  <body
    style='margin:0;font-family: Arial, sans-serif; background-color: #f4f4f4;'
  >
    <table
      style='border:0;width:100%; max-width:600px; margin: 0 auto; background-color: #ffffff;'
    >
      <tr style='background:#eeeeee'>
        <td
          style='padding:20px;color:#808080;text-align:center;font-size:40px;font-weight:600'
        >
          {{app_name}}
        </td>
      </tr>
      <tr>
        <td
          style='padding:20px;color:#808080;font-size:16px;font-weight:100; line-height:1.5;'
        >
          {{text1}}<br />
          {{text2}}
          {{app_name}}.<br />
          {{text3}}
        </td>
      </tr>
      <tr>
        <td style='text-align:center; padding:20px;'>
          <div
            style='display:inline-block;padding:15px 25px;background:#00838f;text-decoration:none;color:#ffffff;border-radius:5px; font-size:16px;'
          >
            {{hash}}
          </div>
        </td>
      </tr>
    </table>
  </body>

</html>